<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            background-color: rgb(255, 252, 252);
            font-family: Arial, Helvetica, sans-serif;
        }
        .logout{
            padding: 2%;
            margin-bottom: 10%;
        }
        
        .Delete{
            padding: 2%;
           
        }
    </style> 
</head>
<body>
<center>
    <h1>SucessFully password get Updated</h1>
    <div class="Delete">
        <form action="http://127.0.0.1:8000/delete">
            <input type="submit" value="Delete" />  
        </form>
    </div>
    <div class="logout">
        <form action="http://127.0.0.1:8000/">
            <input type="submit" value="Logout" />  
        </form>
    </div>
</center>
</body>
</html>